@font-face {
  font-family: "Commissioner";
  src: url(https://fonts.google.com/specimen/Commissioner);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f4659;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
}

.menu li a:hover:not(.active) {
  color: #111;
}
.buttons ul {
  margin-top: 4%;
}
.buttons {
  margin-left: 20px;
}

.action-icons-right-side {
  margin-left: auto;
}
.action-icons-right-side li {
  float: right;
}

.homepage-logo img {
  width: 14rem;
}

.homepage-logo {
  margin: auto 0px auto 2rem;
}

.top {
  display: inline-flex;
  width: 100%;
  margin-top: 25px;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #d6d680;
  margin: 0;
}

.menu {
  margin: auto auto auto 3rem;
  width: 80%;
  display: flex;
  background: #2f4659;
  align-items: center;
  height: 8vh;
}

.content {
  width: 100%;
}
.flex-images-triple-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: small;
}
.flex-images-triple-grid img {
  width: 100%;
  margin: 1%;
}
.homepage-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-pictures img {
  width: 20%;
  margin: 1%;
}

.flex ul {
  list-style-type: none;
}
.flex ul li {
  text-decoration: none;
}

.flex li a {
  color: #2f4659;
  text-decoration: none;
}
.copyright p {
  color: #2f4659;
}

.flex li a:hover:not(.active) {
  color: #111;
}

.social-links {
  display: flex;
  margin-left: -30%;
  margin-top: 5px;
}
.social-links li {
  margin-left: 15px;
}
.actions-the-midle-of-the-page .larger-font {
  font-size: large !important;
}
.fa {
  font-size: x-large;
}
.copyright {
  margin-left: 25%;
  margin-top: 6%;
}
.actions-the-midle-of-the-page {
  margin-left: 7%;
  margin-top: -15px;
}
.action-icons-left-side {
  margin-top: 30px;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #2f4659;
}
/* MOBILE */
@media only screen and (max-width: 800px) {
  .narrow {
    width: 60%;
    justify-content: center;
  }

  .narrow h1 {
    width: 60%;
    font-size: 1.38rem;
    margin: 0 auto;
    justify-content: center;
  }
  .rainydays-logo {
    width: 60%;
  }

  .top {
    display: block;
  }
  .menu {
    margin-left: 0;
  }

  .homepage-logo img {
    display: block;
    margin: 0 auto;
  }
}

/* TABLET */

@media only screen and (max-width: 1280px) {
  .narrow {
    width: 80%;
  }

  .narrow h1 {
    width: 60%;
    font-size: 1.84rem;
    margin: 0 auto;
  }
  .rainydays-logo {
    width: 80%;
  }

  .top {
    display: block;
  }
  .menu {
    margin-left: 0;
  }
  .homepage-logo img {
    display: block;
    margin: 0 auto;
  }
}

/* List of jackets page */
.product_pictures {
  display: flex;
  width: 100%;
  margin: 1%;
  align-items: center;
}

.jackets-categori {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.jackets-container {
  width: 100%;
  background: #fff;
  text-align: center;
}
.header {
  display: flex;
}

/*Hiking Jacket North Light - Aspecific jacket page*/
/* Global Styles */
.main {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.img {
  width: 100%;
}

/* start only for specific jacket page*./
/* Global Styles */
.product-page .container {
  width: 1200px;
  margin: 0 auto;
}

.product-page img {
  width: 100%;
}

/*start Section Styles */

.product-page .product-section {
  height: 60vh;
  margin: 0;
  padding: 0;
}

.product-page .product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
}

.product-page .product-img-grid {
  grid-template-columns: 1fr 200px 200px;
  grid-template-rows: auto;
  display: grid;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
}

.product-page .img-big {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.product-page .img-small-1 {
  width: 50%;
  grid-column: 2;
}
.product-page .img-small-2 {
  width: 50%;
  grid-column: 3;
}

.product-page .img-small-3 {
  width: 50%;
  grid-column: 2;
}

.product-page .img-small-4 {
  width: 50%;
}

.product-page .product-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: aliceblue;
}

.product-page .product-content .product-content-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
}
.product-content p {
  width: 90%;
  margin-left: 5%;
}
.product-content-info {
  width: 90%;
  margin-left: 5%;
}

.product-content-list {
  width: 90%;
  margin-left: 5%;
}

.product-page .product-content .product-content-price .place-order {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background: #2f4659;
  color: white;
  width: 150px;
}

.controll-section .material-icons {
  font-size: 48px;
  color: #2f4659;
}
/* end only for specific jacket page*/

/* start contact page */
/* Global Styles */
.product-page .container {
  width: 1200px;
  margin: 0 auto;
}

.product-page img {
  width: 100%;
}

/*start Section Styles */

.contact-page {
}
.contact-page .contact-section {
  height: 60vh;
  margin: 0;
  padding: 0;
}

.contact-page .container {
  width: 1200px;
  margin: 0 auto;
}

.contact-page .contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
}

.contact-page .contact-grid {
  display: block;
}

.contact-page .contact-map {
  display: flex;
  width: 50%;
  flex-direction: column;
  background: aliceblue;
}

/* end contact page */

/* star success page */
/* Global Styles */
.success-page .container {
  width: 1200px;
  margin: 0 auto;
}

.success-page img {
  width: 100%;
}

/*start Section Styles */

.success-page {
}
.success-page .success-section {
  height: 80vh;
  margin: 0;
  padding: 0;
}

.success-page .container {
  width: 1200px;
  margin: 0 auto;
}

.success-page .success {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
}

.success-page .success {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
}

.success-page .order-number {
  display: flex;
}

.success-page .success-image {
  display: flex;
  width: 40%;
}
.order-info {
  height: 33%;
  display: flex;
}

.order-info span {
  margin: auto;
}

.order-total {
  height: 33%;
  display: flex;
}

.order-total span {
  margin: auto;
}

.order-total {
  height: 33%;
}

.thank-you {
  width: 90%;
  margin-left: 20%;
}

.order-number .material-icons {
  width: 10%;

  margin-top: 7%;
}

.success-page .success-order {
  display: inline-block;
  width: 100%;
}

.success-page .success-button {
  width: 10%;
  display: flex;
  flex-direction: column;
}

.success-button button {
  border: none;
  background: #2f4659;
  color: white;
  width: 150px;
  margin-top: auto;
}

/* end success page */

/* start about us page*/
.about-us-description {
  display: block;
  align-items: center;
}
